version: '3'

services:
  payload:
    image: node:18-alpine
    ports:
      - '3000:3000'
    volumes:
    - .:/app
    - node_modules:/app/node_modules
    - ./scripts:/app/scripts
    - ./payload/utils:/app/payload/utils
    - /srv/media:/srv/media


    working_dir: /app/
    command: sh -c "apk add --no-cache ffmpeg && npm install --include=dev && npm run build && npm run start"
    environment:
      NODE_ENV: production
      NODE_OPTIONS: --max_old_space_size=1536
      NPM_CONFIG_PRODUCTION: "false"
    depends_on:
      - mongo
      # - postgres
    env_file:
      - .env
    networks:
      - default
      - libretime_default

  payload-dev:
    image: node:18-alpine
    profiles:
      - dev
    ports:
      - '3300:3000'
    volumes:
      - .:/app
      - node_modules:/app/node_modules
      - ./scripts:/app/scripts
      - ./payload/utils:/app/payload/utils
      - /srv/media:/srv/media
    working_dir: /app/
    command: sh -c "apk add --no-cache ffmpeg && npm install --include=dev && npm run dev"
    environment:
      NODE_ENV: development
      NODE_OPTIONS: --max_old_space_size=1536
      NPM_CONFIG_PRODUCTION: "false"
    env_file:
      - .env
    networks:
      - default
      - libretime_default


  dev-scripts:
    image: node:18
    restart: unless-stopped
    working_dir: /app
    volumes:
      - .:/app
      - /srv/media:/srv/media
      - /root/.ssh:/root/.ssh:ro
      - /var/run/docker.sock:/var/run/docker.sock
    command: 
      - sh
      - -c
      - "apt-get update -qq && apt-get install -y -qq rsync docker.io postgresql-client > /dev/null 2>&1 && tail -f /dev/null"
    env_file:
      - .env
    networks:
      - default
      - libretime_default


  # Ensure your DATABASE_URI uses 'mongo' as the hostname ie. mongodb://mongo/my-db-name
  mongo:
    image: mongo:latest
    ports:
      - '27017:27017'
    command:
      - --storageEngine=wiredTiger
      - --wiredTigerCacheSizeGB=0.75
    volumes:
      - data:/data/db
    logging:
      driver: none

  # Uncomment the following to use postgres
  # postgres:
  #   restart: always
  #   image: postgres:latest
  #   volumes:
  #     - pgdata:/var/lib/postgresql/data
  #   ports:
  #     - "5432:5432"

volumes:
  data:
  # pgdata:
  node_modules:

networks:
  libretime_default:
    external: true
